@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<div class="text-center">
    <h1 class="display-4">Welcome to Employee Salary Web Application</h1>
</div>
<br />
<br />
<div class="col-6 text-right">
    <a asp-controller="EmployeeDetails" asp-action="Index" class="btn btn-primary mx-1 ">Home</a>
</div>